@import './partials/normalize';

@import './partials/variables';

@import './partials/sprite';

* {
  box-sizing: border-box;
}

body {
  font: 16px 'Lato', sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 500;
  line-height: 42px;
  font-size: 35px;
}

h4 {
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  &_small {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}
