.benefits {

  &__block {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    margin-top: 120px;
  }

  &__icon-cont {
    width: 64px;
    margin-bottom: 38px;
  }

  &__icon {
    width: 100%;
  }

  &__subtitle {
    margin-bottom: 27px;
  }

  &__text {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 39px;
  }
}

.shadow-cont {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  padding-top: 90px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 110px;
}
