.benefits {

  &__block {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 70px;
    margin-top: 120px;
  }

  &__icon {
    margin-bottom: 38px;
  }

  &__subtitle {
    margin-bottom: 27px;
  }

  &__text {
    margin-bottom: 39px;
  }
}
