.first-screen {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background: linear-gradient(180deg, rgba(53, 66, 103, 0.0001) 0%, #151824 95.04%),
    url('/img/first-screen.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner-block {
    padding-bottom: 100px;
  }

  &__title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 500;
    max-width: 620px;
  }

  &__description {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    max-width: 620px;
  }

  &__search-block {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    max-width: 860px;
  }

  &__input {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 15px 25px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #bfc0c5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &::placeholder {
      color: #fff;
    }
  }

  &__button {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #1b7dff;
    color: #fff;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
  }
}
