.shadow-cont {
  background-color: #fff;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  padding-top: 90px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 110px;
  margin-top: -220px;
}
