.articles.content__block.wrapper
  .articles__block
    .articles__image-cont
      img(src="/img/tottori.jpg", alt="")
    .articles__info
      h3.articles__title Prefecture in Focus: Tottori
      .articles__text.
        This marked the beginning of the Heian period (794–1185), during which a distinctly indigenous Japanese culture emerged, noted for its art, poetry and prose. 
      
      .articles__link-cont
        a(href="#").link-arrow View prefecture

  .articles__block.articles__block_img-right
    .articles__info
      h3.articles__title Featured Neighborhood:<br /> Kyoto's Arashiyama
      .articles__text.
        The Nara period is characterized by the appearance of a nascent literature as well as the development of Buddhist-inspired art and architecture. In 784, Emperor Kanmu moved the capital from Nara to Nagaoka-kyō, then to Heian-kyō (modern Kyoto) in 794.

      .articles__link-cont
        a(href="#").link-arrow View neighborhood

    .articles__image-cont
      img(src="/img/arashiyama.jpg", alt="")