.articles.content__block.wrapper
  .articles__block
    .articles__image-cont
      img(src="/img/tottori.jpg", alt="")
    .articles__info
      h3.articles__title Prefecture in Focus: Tottori
      .articles__text.
        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door
      
      a(href="#").link-arrow View prefecture

  .articles__block
    .articles__info
      h3.articles__title Featured Neighborhood:<br /> Kyoto's Arashiyama
      .articles__text.
        Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door

      a(href="#").link-arrow View neighborhood

    .articles__image-cont
      img(src="/img/arashiyama.jpg", alt="")