.first-screen
  .first-screen__inner-block.wrapper_small
    h1.first-screen__title Discover Amazing places in Japan
    
    .first-screen__description.
      The climate of Japan is predominantly temperate, but varies greatly from north to south. Japan's geographical features divide it into six principal climatic zones: Hokkaido, Sea of Japan, Central Highland, Seto Inland Sea
      
    .first-screen__search-block
      select.first-screen__select.custom-select
        -const optionsWhat = {'placeholder': 'What would you like to do?', 'monkeys': 'Playing with the monkeys at Arashiyama Monkey Park', 'climb': 'Climb Mount Fuji'}
        each key, value in optionsWhat
          option(value=value) #{key}

      select.first-screen__select.custom-select
        -const optionsWhere = {'placeholder': 'Where would you like to go?', 'monkeys': 'Playing with the monkeys at Arashiyama Monkey Park', 'climb': 'Climb Mount Fuji'}
        each key, value in optionsWhere
          option(value=value) #{key}

      button.button.first-screen__button Search