footer
  .footer__logo
    img(src="/img/logo.svg", alt="Travel company")

  .footer__links-block
    h3 Company
    ul.footer__links
      li.footer__link About
      li.footer__link Team
      li.footer__link Careers
      li.footer__link Privacy Policy

  .footer__links-block
    h3 Locations
    ul.footer__links
      li.footer__link Tokyo
      li.footer__link Kyoto
      li.footer__link Osaka
      li.footer__link Hokkaido

  .footer__links-block
    h3 Social Media
    ul.footer__links
      li.footer__link Facebook
      li.footer__link Twitter
      li.footer__link Instagram
      li.footer__link Youtube