footer.footer
  .wrapper_small.footer__wrapper_small
    .footer__logo
      img(src="/img/logo.svg", alt="Travel company")

    .footer__links-cont
      .footer__links-block
        .footer__title Company
        ul.footer__links
          li.footer__link
            a(href="#") About
          li.footer__link
            a(href="#") Team
          li.footer__link
            a(href="#") Careers
          li.footer__link
            a(href="#") Privacy Policy

      .footer__links-block
        .footer__title  Locations
        ul.footer__links
          li.footer__link
            a(href="#") Tokyo
          li.footer__link
            a(href="#") Kyoto
          li.footer__link
            a(href="#") Osaka
          li.footer__link
            a(href="#") Hokkaido

      .footer__links-block
        .footer__title  Social Media
        ul.footer__links
          li.footer__link
            a(href="#") Facebook
          li.footer__link
            a(href="#") Twitter
          li.footer__link
            a(href="#") Instagram
          li.footer__link
            a(href="#") Youtube