header.header
  .header__flex.wrapper_small
    .header__logo
        img(src="/img/logo.svg", alt="Travel company")
    nav.nav
      ul.nav__menu
        li.nav__link
          a(href="#") Articles
        li.nav__link
          a(href="#") Locations
        li.nav__link
          a(href="#") Videos
        li.nav__link
          a(href="#") Sign In