header.header
  .header__flex.wrapper_small
    .header__logo
        img(src="/img/logo.svg", alt="Travel company")

    <button class="hamburger hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>  
    nav.nav
      ul.nav__menu
        li.nav__link
          a(href="#") Articles
        li.nav__link
          a(href="#") Locations
        li.nav__link
          a(href="#") Videos
        li.nav__link
          a(href="#") Sign In

// Mobile menu
nav.mobile-nav
  ul.mobile-nav__menu
    li.mobile-nav__link
      a(href="#") Articles
    li.mobile-nav__link
      a(href="#") Locations
    li.mobile-nav__link
      a(href="#") Videos
    li.mobile-nav__link
      a(href="#") Sign In