.inspiration.wrapper.content__block
  .content__header
    h2.content__title_underlined Get inspired for your next trip
    a(href="#").inspiration__link.link-arrow View all

  .inspiration__block
    a(href="#").inspiration__item.inspiration__item_big.inspiration__item_mount-fuji
      .inspiration__name Mount Fuji

    a(href="#").inspiration__item.inspiration__item_big.inspiration__item_kyoto
      .inspiration__name Kyoto

    a(href="#").inspiration__item.inspiration__item_small.inspiration__item_tokyo
      .inspiration__name Tokyo

    a(href="#").inspiration__item.inspiration__item_small.inspiration__item_niigata
      .inspiration__name Niigata

    a(href="#").inspiration__item.inspiration__item_small.inspiration__item_sapporo
      .inspiration__name Sapporo