.inspiration.wrapper.content__block
  .content__header
    h2.content__title_underlined Get inspired for your next trip
    a(href="#").inspiration__link.link-arrow View all

  .inspiration__block

    .inspiration__item.inspiration__item_big.inspiration__item_mount-fuji
      //- img(src="/img/mount-fuji.jpg", alt="").inspiration__image
      .inspiration__name Mount Fuji

    .inspiration__item.inspiration__item_big.inspiration__item_kyoto
      //- img(src="/img/kyoto.jpg", alt="").inspiration__image
      .inspiration__name Kyoto

    .inspiration__item.inspiration__item_small.inspiration__item_tokyo
      //- img(src="/img/mount-fuji.jpg", alt="").inspiration__image
      .inspiration__name Tokyo

    .inspiration__item.inspiration__item_small.inspiration__item_niigata
      //- img(src="/img/mount-fuji.jpg", alt="").inspiration__image
      .inspiration__name Niigata

    .inspiration__item.inspiration__item_small.inspiration__item_sapporo
      //- img(src="/img/mount-fuji.jpg", alt="").inspiration__image
      .inspiration__name Sapporo