mixin top-places__item(title="123", img, text, link="#")
  .top-places__item
    .top-places__img-cont
      .top-places__image(style={'background-image': `url('${img}')`, 'background-size': 'cover', 'background-position': '50% 50%'})
      .top-places__title= title

    .top-places__text= text

    .button-cont
      a(href=link).button See more



.top-places.content__block.wrapper
  .content__header
    h2.content__title_underlined Today top places to visit

  .top-places__block
    +top-places__item(
      "Nagoya",
      "/img/articles/nagoya.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )

    +top-places__item(
      "Niigata",
      "/img/articles/niigata.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )

    +top-places__item(
      "Osaka",
      "/img/articles/osaka.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )

    +top-places__item(
      "Saitama",
      "/img/articles/saitama.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )

    +top-places__item(
      "Ueno",
      "/img/articles/ueno.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )

    +top-places__item(
      "Shibuya",
      "/img/articles/shibuya.jpg",
      `Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this.`,
      "#"
      )